.footer {
    background: #f6f6f6;
    padding: 60px 0 30px;
    font-family: var(--font-sans);
    color: #111;
    height: 80vh;
  }
  
  .container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 40px;
    
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1.3fr 1fr 0.8fr 0.8fr 1.2fr;
    gap: 60px;
  }
  
  /* BRAND */
  .logoRow {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .logoIcon {
    font-size: 28px;
  }
  
  .brand h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .contactItem {
    display: flex;
    gap: 10px;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  /* COLUMNS */
  .column h4 {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 18px;
  }
  
  .column ul li {
    margin-bottom: 10px;
  }
  
  .column ul li a {
    font-size: 1rem;
    color: #333;
  }
  
  .column ul li a:hover {
    text-decoration: underline;
  }
  
  /* SUBSCRIBE (5th column) */
  .subscribe {
    display: flex;
    flex-direction: column;
  }
  
  .socials {
    display: flex;
    gap: 14px;
    margin-bottom: 14px;
  }
  
  .whatsappIcon {
    color: #22c55e; /* WhatsApp green */
  }

  .facebookIcon{
  color: blue;
  }

  .instaIcon{
   color: violet;
  }

  .youtubeIcon{
    color: red;
  }
  
  .subscribe input {
    padding: 10px 12px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 7px;
  }
  
  .subscribe button {
    padding: 12px;
    background: #111827;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
  }
  
  .subscribe p {
    font-size: 0.75rem;
    color: #666;
    margin-top: 8px;
  }
  
  /* BOTTOM */
  .bottom {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 0.85rem;
    color: #444;
  }
  
  /* RESPONSIVE */
  @media (max-width: 1024px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 640px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  